@import url('//fonts.cdnfonts.com/css/d-din');
@import url('//fonts.cdnfonts.com/css/inconsolata-2');
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'D-DIN', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #efefef;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.75);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

a.blue {
  color: blue;
  letter-spacing: 1px;
  border-bottom: 1px solid blue;
  padding-bottom: 4px;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

#container {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#container > main {
  position: relative;
  height: calc(100vh - 128px);
  flex: 1;
}

#container > header,
#container > footer {
  position: relative;
  height: 64px;
  padding: 20px;
  display: flex;
  align-items: center;
}

#container > header {
  background-color: #000000;
  color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
#container > footer {
  background-color: #efefef;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-family: Inconsolata;
}
#container > footer::before {
  content: ' ';
  display: block;
  height: 1px;
  width: 64px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
}

.condensed {
  font-family: 'D-DIN Condensed';
  letter-spacing: 1px;
  opacity: 0.75;
}

.code {
  padding: 0.75rem;
  font-size: 16px;
  opacity: 0.95;
  font-family: 'Inconsolata', Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.right {
  float: right;
}
