@import url('//fonts.cdnfonts.com/css/d-din');
@import url('//fonts.cdnfonts.com/css/inconsolata-2');
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'D-DIN', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #eeeeee;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.75);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

a.blue {
  color: blue;
  letter-spacing: 1px;
  border-bottom: 1px solid blue;
  padding-bottom: 4px;
}
a.logo {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}
a.logo:hover {
  color: #000;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

#container {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#container > main {
  position: relative;
  height: calc(100vh - 144px);
  flex: 1;
}

#container > header,
#container > footer {
  position: relative;
  height: 72px;
  padding: 20px;
  display: flex;
  align-items: center;
}

#container > header {
  background-color: #fff;
  border-bottom: 1px solid #aaa;
  color: #000;
}
#container > header > div {
  flex: 1;
  width: 100%;
  display: block;
}
#container > header > div a:not(.logo) {
  cursor: pointer;
  padding: 20px;
  border-radius: 5px;
  outline: none;
  outline: none;
  color: #333;
  font-size: 16px;
  letter-spacing: 1px;
}
#container > header > div a:not(.logo):hover {
  color: #000000;
}
#container > footer {
  background-color: #eeeeee;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-family: Inconsolata;
}
#container > footer::before {
  content: ' ';
  display: block;
  height: 1px;
  width: 64px;
  background-color: #aaa;
  position: absolute;
  top: 0;
}

.condensed {
  font-family: 'D-DIN Condensed';
  letter-spacing: 1px;
  opacity: 0.75;
}

.code {
  padding: 0.75rem;
  font-size: 16px;
  opacity: 0.95;
  font-family: 'Inconsolata', Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.right {
  float: right;
}
.center {
  text-align: center;
}
.mute {
  opacity: 0.3;
  font-weight: normal;
}
